*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
docs/Gemfile.lock
docs/_site

/library-common/build
/library-support-design/build
/library-support-recyclerview/build

library-extras